body{
    background-image: url("img/capa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 50%;
    right: 50%;
}

li{
    font-size: 30px;
}
.botao {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #2980b9;
}
.cabecalho{
    background-color: black;
    padding: 50px;
    width: 200%;
    border-style: groove;
    border-color: rgb(201, 42, 164);
}