body{
    background-image: url("img/capa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 50%;
    right: 50%;
}

li{
    font-size: 30px;
}